[phases.setup]
nixPkgs = ["python310", "gcc", "cmake", "libGL", "glib", "libgcc"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "/opt/venv/bin/pip install --upgrade pip",
  "/opt/venv/bin/pip install -r requirements.txt"
]

[start]
cmd = "cd backend && /opt/venv/bin/gunicorn --bind 0.0.0.0:$PORT app:app --timeout 300 --workers 2"
