[phases.setup]
nixPkgs = ["python310", "gcc", "cmake", "glib", "libgcc", "mesa", "libglvnd"]

[phases.install]
cmds = [
  "python3 -m venv /opt/venv",
  "/opt/venv/bin/pip install --upgrade pip",
  "/opt/venv/bin/pip install -r requirements.txt"
]

[start]
cmd = "cd backend && LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/nix/store/$(ls /nix/store | grep mesa | head -1)/lib /opt/venv/bin/gunicorn --bind 0.0.0.0:$PORT app:app --timeout 300 --workers 2"
